

/* small screen */
@media (max-width: 767px){
    body{
        font-size: 10px;
        font-family: 'Lato';
        background-color: white;
    }

    a{
        text-decoration: none;
    }

    /* navbar */
    #navbar{
        display: none;
    }

    #navbar-small{
        height: 40px;
        box-shadow: 0px 4px 5px rgba(0,0,0, 0.25);
        position: sticky;
        top: 0px;
        background-color: #98A296;
        z-index: 3;
    }

    #nav-stick-small{
        display: flex;
        padding: 0px;
    }

    #website-name-small{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: 'Pacifico';
        color: white;
    }

    #menu-button{
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }

    #menu-button button{
        background: none;
        border: none;
    }

    #menu-button-click svg{
        color: white;
    }

    #menu-icon{
        font-size: 200px;
    }

    #dropdown{
        background: #98A296;
        overflow: hidden;
        height: 0px;
        transition: height 400ms;
    }

    .navbar-items-small{
        display: flex;
        justify-content: center;
    }

    .navbar-items-small a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin-top: 20px;
        gap: 8px;
        padding: 8px 20px 8px 20px;
    }

    .navbar-items-small a:hover{
        background-color: #f2f2f2;
        border-radius: 999px;
        color: #5f685d;
    }

    /* searchbar */
    #search-cta{
        font-family: 'Days One';
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #searchbar{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #searchbar-border{
        display: flex;
        border: 3px solid #98A296;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
        border-radius: 999px;
        width: 70%;
    }

    #search-icon{
        display: flex;
        align-items: center;
        padding-right: 5px;
    }
    
    #search-input{
        padding: 6px 0px 6px 5px;
    }

    #search-input input{
        width: 95%;
        border: none;
    }

    #search-input input:focus{
        outline: none;
    }

    #x-icon{
        font-size: 10px;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    #search-button{
        display: flex;
        justify-content: center;
        background-color: #98A296;
        border-radius: 0px 999px 999px 0px;
    }

    #search-button button{
        background: none;
        border: none;
        font-weight: bold;
        color: white;
    }

    /* autocomplete */
    #result-box{
        position: absolute;
        top: 100%;
        z-index: 1;
        background-color: white;
        width: 70%;
        overflow: hidden;
        height: 0px;
        margin-bottom: 20px;
        border-radius: 0px 0px 10px 10px;
    }

    #result-box ul{
        padding: 0px;
        margin: 0px;
    }

    #result-box ul li{
        list-style: none;
        padding: 12px 30px 12px 30px;
    }

    #result-box ul li:hover{
        background-color: rgba(152, 162, 150, 0.3);
    }

    /* generate cards */
    #drama-cards{
        box-sizing: border-box;
        margin: 50px 10%;
    }

    .my-card-container{
        padding: 0px 6px !important;
    }

    .my-card{
        display: flex;
        align-items: flex-end;
        background-color: grey;
        height: 200px;
        margin-bottom: 20px;
        padding: 0px 10px 10px 10px;
        color: white;
        font-weight: bold;
        line-height: 13px;
        border-radius: 10px;
        background-size: cover; 
        background-position: center;
        box-shadow: inset 0px -50px 20px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        transition: transform 0.3s;
    }

    .my-card:hover {
        /* transform: scale(1.1); */
        background-size: 120%; 
        transition: background-size 2s;
        cursor: pointer;
    }

    /* error alert */
    #error-alert{
        transform: scale(0); 
        transform-origin: center;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 30%;
        left: calc((100% - 270px)/2);
        z-index: 3;
    }

    #error-alert.visible {
        transform: scale(1);
      }

    #error-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #B64C63;
        background-color: white;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
        border-radius: 10px;
        width: 240px;
        height: 130px;
        font-size: 12px;
    }

    #error-icon{
        font-size: 30px;
    }

    /* cardContent.html page */
    #content-container{
        margin: 40px 8%;
    }

    #drama-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 8%;
    }

    #drama-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        width: 100%;
    }

    #drama-image{
        width: 50%;
        padding-top: 50%;
        background-position: center;
        background-size: cover; 
        border-radius: 10px;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
    }

    #drama-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #year{
        display: flex;
        justify-content: center;
        color: grey;
        font-weight: bold;
        font-size: 10px;
        margin-top: 20px;
    }

    #drama-name{
        display: flex;
        justify-content: center;
        font-family: 'Days One';
        font-size: 15px;
        line-height: 13px;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    #drama-synopsis{
        margin-bottom: 16px;
        text-align: justify;
    }

    #genre i{
        margin-right: 1%;
    }

    /* tab */
    #tab{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        gap: 5%;
        margin-top: 40px;
    }

    #location-list-tab i,
    #map-tab i{
        padding-right: 6px;
    }

    #location-list-tab{
        border-bottom: 2px solid black;
        padding: 0px 1px 5px 1px;
    }
    
    
    #map-tab{
        padding: 0px 1px 5px 1px;
    }

    #location-list-tab:hover,
    #map-tab:hover{
        color: #636363;
        cursor: pointer;
        border-bottom: 2px solid #636363;
    }

    /* tab container */
    #tab-container{
        margin: 30px 4%;
    }

    .item-container{
        display: flex;
        margin-bottom: 40px;
    }

    .location-image-container{
        margin-right: 5%;
    }

    .location-image{
        width: 90px;
        height: 90px;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    .rest-contatiner{
        display: flex;
        width: auto;
    }

    .location-description-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .location-name{
        font-weight: bold;
        font-size: 14px;
        line-height: 13px;
    }

    .location-province{
        font-size: 8px;
        font-style: italic;
        margin-top: 3px;
    }

    .location-description{
        text-align: justify;
        margin-top: 1.5%;
    }

    .location-website{
        margin-left: 5%;
        display: flex;
        align-items: center;
    }

    .location-website i{
        color: #5f685d;
        font-size: 14px;
    }
}





/* medium screen */
@media (min-width: 768px) and (max-width: 991px){
    body{
        font-size: 12px;
        font-family: 'Lato';
        background-color: white;
    }

    a{
        text-decoration: none;
    }

    /* navbar */
    #navbar-small{
        display: none;
    }

    #navbar{
        height: 44px;
        box-shadow: 0px 4px 5px rgba(0,0,0, 0.25);
        position: sticky;
        top: 0px;
        background-color: #98A296;
        z-index: 1;
    }

    #nav-stick{
        display: flex;
    }

    #website-name{
        font-size: 27px;
        font-family: 'Pacifico';
        padding-left: 27px;
        color: white;
    }

    #nav-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 27px;
        gap: 8px;
    }

    .navbar-items{
        display: flex;
        align-items: center;
    }

    .navbar-items a{
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 6px 12px 6px 12px;
    }

    .navbar-items a:hover{
        background-color: #f2f2f2;
        border-radius: 999px;
        color: #5f685d;
    }

    /* searchbar */
    #search-cta{
        font-family: 'Days One';
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    #searchbar{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #searchbar-border{
        display: flex;
        border: 3px solid #98A296;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
        border-radius: 999px;
        width: 50%;
    }

    #search-icon{
        display: flex;
        align-items: center;
        padding-right: 5px;
    }
    
    #search-input{
        padding: 10px 0px 10px 5px;
    }

    #search-input input{
        width: 95%;
        border: none;
    }

    #search-input input:focus{
        outline: none;
    }

    #x-icon{
        font-size: 12px;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    #search-button{
        display: flex;
        justify-content: center;
        background-color: #98A296;
        border-radius: 0px 999px 999px 0px;
    }

    #search-button button{
        background: none;
        border: none;
        font-weight: bold;
        color: white;
    }

    /* autocomplete */
    #result-box{
        position: absolute;
        top: 100%;
        z-index: 1;
        background-color: white;
        width: 50%;
        overflow: hidden;
        height: 0px;
        margin-bottom: 20px;
        border-radius: 0px 0px 10px 10px;
    }

    #result-box ul{
        padding: 0px;
        margin: 0px;
    }

    #result-box ul li{
        list-style: none;
        padding: 12px 30px 12px 30px;
    }

    #result-box ul li:hover{
        background-color: rgba(152, 162, 150, 0.3);
    }

    /* generate cards */
    #drama-cards{
        box-sizing: border-box;
        margin: 50px 8%;
    }

    .my-card-container{
        padding: 0px 6px !important;
    }

    .my-card{
        display: flex;
        align-items: flex-end;
        background-color: grey;
        height: 300px;
        margin-bottom: 40px;
        padding: 0px 13px 13px 13px;
        color: white;
        font-weight: bold;
        line-height: 20px;
        border-radius: 10px;
        background-size: cover; 
        background-position: center;
        box-shadow: inset 0px -50px 20px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        transition: transform 0.3s;
    }

    .my-card:hover {
        /* transform: scale(1.1); */
        background-size: 120%; 
        transition: background-size 2s;
        cursor: pointer;
    }

    /* error alert */
    #error-alert{
        transform: scale(0); 
        transform-origin: center;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 30%;
        left: calc((100% - 270px)/2);
        z-index: 3;
    }

    #error-alert.visible {
        transform: scale(1); 
      }

    #error-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #B64C63;
        background-color: white;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
        border-radius: 10px;
        width: 270px;
        height: 140px;
        font-size: 14px;
    }

    #error-icon{
        font-size: 40px;
    }

    /* cardContent.html page */
    #content-container{
        margin: 50px 8%;
    }

    #drama-image-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        width: calc(4/12*100%);
    }

    #drama-image{
        width: 80%;
        padding-top: 80%;
        background-position: center;
        background-size: cover; 
        border-radius: 10px;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
    }

    #drama-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4%;
        width: calc(8/12*90%);
    }

    #year{
        color: grey;
        font-weight: bold;
        font-size: 10px;
    }

    #drama-name{
        font-family: 'Days One';
        font-size: 30px;
        line-height: 30px;
        margin-top: 6px;
        margin-bottom: 18px;
    }

    #drama-synopsis{
        margin-bottom: 18px;
        text-align: justify;
    }

    #genre i{
        margin-right: 1%;
    }

    /* tab */
    #tab{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 18px;
        gap: 5%;
        margin-top: 40px;
    }

    #location-list-tab i,
    #map-tab i{
        padding-right: 6px;
    }

    #location-list-tab{
        border-bottom: 2px solid black;
        padding: 0px 1px 5px 1px;
    }
    
    
    #map-tab{
        padding: 0px 1px 5px 1px;
    }

    #location-list-tab:hover,
    #map-tab:hover{
        color: #636363;
        cursor: pointer;
        border-bottom: 2px solid #636363;
    }

    /* tab container */
    #tab-container{
        margin: 30px 4%;
    }

    .item-container{
        display: flex;
        margin-bottom: 30px;
    }

    .location-image-container{
        margin-right: 5%;
    }

    .location-image{
        width: 80px;
        height: 80px;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    .rest-contatiner{
        display: flex;
        width: auto;
    }

    .location-description-container{
        display: flex;
        align-items: center;
    }

    .location-name{
        font-weight: bold;
        font-size: 14px;
        line-height: 13px;
    }

    .location-province{
        font-size: 10px;
        font-style: italic;
        margin-top: 4px;
    }

    .location-description{
        text-align: justify;
    }

    .location-website{
        margin-left: 5%;
        display: flex;
        align-items: center;
    }

    .location-website i{
        color: #5f685d;
        font-size: 16px;
    }
    
}







/* large screen */
@media (min-width: 992px){
    body{
        font-size: 14px;
        font-family: 'Lato';
        background-color: white;
    }

    a{
        text-decoration: none;
    }

    /* navbar */
    #navbar-small{
        display: none;
    }

    #navbar{
        height: 45px;
        box-shadow: 0px 4px 5px rgba(0,0,0, 0.25);
        position: sticky;
        top: 0px;
        background-color: #98A296;
        z-index: 1;
    }

    #nav-stick{
        display: flex;
    }

    #website-name{
        font-size: 30px;
        font-family: 'Pacifico';
        padding-left: 30px;
        color: white;
    }

    #nav-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
        gap: 10px;
    }

    .navbar-items{
        display: flex;
        align-items: center;
    }

    .navbar-items a{
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 8px 15px 8px 15px;
    }

    .navbar-items a:hover{
        background-color: #f2f2f2;
        border-radius: 999px;
        color: #5f685d;
    }


    /* searchbar */
    #search-cta{
        font-family: 'Days One';
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #searchbar{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #searchbar-border{
        display: flex;
        border: 3px solid #98A296;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
        border-radius: 999px;
        width: 50%;
    }

    #search-icon{
        display: flex;
        align-items: center;
        padding-right: 5px;
    }
    
    #search-input{
        padding: 10px 0px;
    }

    #search-input input{
        width: 95%;
        border: none;
    }

    #search-input input:focus{
        outline: none;
    }

    #x-icon{
        font-size: 14px;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    #search-button{
        display: flex;
        justify-content: center;
        background-color: #98A296;
        border-radius: 0px 999px 999px 0px;
    }

    #search-button button{
        background: none;
        border: none;
        font-weight: bold;
        color: white;
    }

    /* autocomplete */
    #result-box{
        position: absolute;
        top: 100%;
        z-index: 1;
        background-color: white;
        width: 50%;
        overflow: hidden;
        height: 0px;
        margin-bottom: 20px;
        border-radius: 0px 0px 10px 10px;
    }

    #result-box ul{
        padding: 0px;
        margin: 0px;
    }

    #result-box ul li{
        list-style: none;
        padding: 15px 30px 15px 30px;
    }

    #result-box ul li:hover{
        background-color: rgba(152, 162, 150, 0.3);
    }
    
    /* generate cards */
    #drama-cards{
        box-sizing: border-box;
        margin: 50px 8%;
    }

    .my-card-container{
        padding: 0px 6px !important;
    }

    .my-card{
        display: flex;
        align-items: flex-end;
        background-color: grey;
        height: 300px;
        margin-bottom: 40px;
        padding: 0px 15px 15px 15px;
        color: white;
        font-weight: bold;
        line-height: 20px;
        border-radius: 10px;
        background-size: cover; 
        background-position: center;
        box-shadow: inset 0px -50px 20px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        transition: transform 0.3s;
    }

    .my-card:hover {
        /* transform: scale(1.1); */
        background-size: 120%; 
        transition: background-size 2s;
        cursor: pointer;
    }

    /* error alert */
    #error-alert{
        transform: scale(0); 
        transform-origin: center;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 40%;
        left: calc((100% - 300px)/2);
        z-index: 3;
    }

    #error-alert.visible {
        transform: scale(1);
      }

    #error-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #B64C63;
        background-color: white;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
        border-radius: 10px;
        width: 300px;
        height: 150px;
        font-size: 16px;
    }

    #error-icon{
        font-size: 50px;
    }

    /* cardContent.html page */
    #drama-content{
        margin: 50px 8%;
    }

    #drama-image-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        width: calc(4/12*100%);
    }

    #drama-image{
        width: 80%;
        padding-top: 80%;
        background-position: center;
        background-size: cover; 
        border-radius: 10px;
        box-shadow: -1px 1px 5px 3px rgba(0,0,0,0.2);
    }

    #drama-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
        width: calc(8/12*90%);
    }

    #year{
        color: grey;
        font-weight: bold;
        font-size: 12px;
    }

    #drama-name{
        font-family: 'Days One';
        font-size: 35px;
        line-height: 30px;
        margin-top: 8px;
        margin-bottom: 20px;
    }

    #drama-synopsis{
        margin-bottom: 20px;
        text-align: justify;
    }

    #genre i{
        margin-right: 1%;
    }

    /* tab */
    #tab{
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 20px;
        gap: 6%;
    }

    #location-list-tab i,
    #map-tab i{
        padding-right: 6px;
    }

    #location-list-tab{
        border-bottom: 2px solid black;
        padding: 0px 1px 5px 1px;
    }
    
    
    #map-tab{
        padding: 0px 1px 5px 1px;
    }

    #location-list-tab:hover,
    #map-tab:hover{
        color: #636363;
        cursor: pointer;
        border-bottom: 2px solid #636363;
    }

    /* tab container */
    #tab-container{
        margin: 30px 12%;
    }

    .item-container{
        display: flex;
        margin-bottom: 30px;
    }

    .location-image-container{
        margin-right: 3%;
    }

    .location-image{
        width: 90px;
        height: 90px;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    .rest-contatiner{
        display: flex;
        width: auto;
    }

    .location-description-container{
        display: flex;
        align-items: center;
    }

    .location-name{
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
    }

    .location-province{
        font-size: 12px;
        font-style: italic;
        margin-top: 5px;
    }

    .location-description{
        text-align: justify;
    }

    .location-website{
        margin-left: 3%;
        display: flex;
        align-items: center;
    }

    .location-website i{
        color: #5f685d;
        font-size: 18px;
    }
}